@page "/DivideAndConquer"
<PageTitle>Divide and Conquer - Understanding Face Recognition</PageTitle>

<style>
    .restrict-child-img-size > img {
        max-height: min(max(40vh, 100px), 24rem);
    }
</style>

<div class="container col-xxl-6 col-xl-8">
    <h1 class="fs-3">Divide and Conquer</h1>
    <h2 class="fs-5">Do these two pictures show the same person?</h2>
    <div class="d-flex flex-row justify-content-center restrict-child-img-size mw-100">
        <img class="rounded m-2" src="media/portraits/Barack_Obama_01.jpg"
             title="Barack Obama, Public Domain" />
        <img class="rounded m-2" src="media/portraits/John_F_Kennedy_01.jpg"
             title="John F. Kennedy, Public Domain" />
    </div>
    <p class="mt-2">
        Obviously, they don't. That question is really easy to answer &ndash; at least for humans.
        If you're a programmer and someone asks you to write a program that is able to distinguish people, that
        is a much more difficult task than doing it yourself.
    </p>
    <p>
        As we often do in computer science, we start by breaking the large difficult problem into subproblems.
        How do we tell if two pictures show the same person? As humans, we focus on the face, because it is
        <em>the</em> feature to identify people. While other aspects of a portrait might allow to draw conclusions
        about the identity of the pictured person too, they are less universal and often less precise or more changeable.
        Thus it seems reasonable to first look for the face(s) in a picture and process just them further on.
    </p>
    <h2 class="fs-4">Face Detection vs. Face Recognition</h2>
    
</div>
