@inherits ChooseSingleImageBase

@using FaceAiSharp.Abstractions;
@using FaceAiSharp.Extensions;
@using SixLabors.ImageSharp.Drawing.Processing;
@using SixLabors.ImageSharp.PixelFormats;
@using BlazorFace.Components

@inject IJSRuntime JS
@inject ObjectPool<IFaceDetector> detectorPool

<div class="d-flex flex-row justify-content-center">
    <p>
        Bounding Box Color:
        <MultiChoiceRadio Class="ms-2" Choices="@(new[] {Yellow, Red, Blue, Green})" @bind-SelectedChoice="@_bboxColorString" />
    </p>
</div>

@{
    base.BuildRenderTree(__builder);
}

<div class="d-flex flex-row justify-content-center mt-3 restrict-child-image-size">
    <img id="@imgId" class="mw-100" />
</div>

@code {
    private const string Yellow = nameof(Yellow);
    private const string Red = nameof(Red);
    private const string Blue = nameof(Blue);
    private const string Green = nameof(Green);

    private readonly string imgId = Guid.NewGuid().ToString("n");

    private string _bboxColorString = Yellow;
    private Color _bboxColor => _bboxColorString switch
    {
        Red => Color.Red,
        Yellow => Color.Yellow,
        Blue => Color.DeepSkyBlue,
        Green => Color.LimeGreen,
        _ => throw new NotImplementedException(),
    };

    protected override async Task Clear()
    {
        await base.Clear();
        await JS.ClearImage(imgId);
    }

    protected override async Task<string?> OnImageLoadedAsync(Image<Rgb24> image)
    {
        var det = detectorPool.Get();

        try
        {
            var detections = det.Detect(image);
            var rectangles = detections.Select(x => Rectangle.Round(x.Box)).ToList();

            var brush = Brushes.Solid(_bboxColor);
            image.DrawRectangles(brush, rectangles);
            await JS.SetImageStream(image, imgId);
            StateHasChanged();

            return detections.Count > 0 ? null : "No faces could be found in this image.";
        }
        finally
        {
            detectorPool.Return(det);
        }
    }
}
