<div class="dropdown">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Add faces
    </button>
    <ul class="dropdown-menu">
        @foreach (var (id, files) in Media.LfwFaces)
        {
            <li>
                <button class="dropdown-item" @onclick="@(async () => await IdentitySelectedCallback.InvokeAsync(id))">
                    @id.Replace("_", " ")
                    <span class="badge rounded-pill bg-secondary">@files.Length</span>
                </button>
            </li>
        }
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item link-primary" href="/MediaReferencesAndLicenses" target="_blank">
                <em>Sources</em>
            </a>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public EventCallback<string> IdentitySelectedCallback { get; set; }
}
