@{
    var id = $"collapse-{Guid.NewGuid():n}";
}

<div id="@id" class="collapse">
    @ChildContent
</div>

<a role="button" class="collapser my-2 d-inline-block" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="false" aria-controls="@id">
</a>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
