
@if (IsDismissed) { return; }

<div class="alert alert-@Context alert-dismissible @Class" role="alert">
    @ChildContent
    <button type="button" class="btn-close" aria-label="Close" @onclick="Dismiss"></button>
</div>

@code {
    [Parameter]
    public string Context { get; set; } = "warning";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public bool IsDismissed { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void Dismiss()
    {
        IsDismissed = true;
    }
}
