@inherits LayoutComponentBase
@layout MainLayout

@Body

<div class="container d-flex flex-column align-items-center">
    <a href="/" class="btn btn-primary">
        Return to home page
    </a>
</div>
