@inherits LayoutComponentBase
@layout MainLayout

@Body

<div class="container d-flex flex-column align-items-center mt-2">
    <a href="/" class="btn btn-secondary">
        Return to home page
    </a>
</div>
