@inherits LayoutComponentBase

<PageTitle>BlazorFace</PageTitle>

<div class="page mb-4">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center text-muted">
                <p>
                    <small>
                        Made with ☕ by
                        <a class="text-reset text-decoration-none" href="https://github.com/georg-jung/" target="_blank">Georg Jung</a>
                        at
                        <a class="text-reset text-decoration-none" href="https://www.informatik.tu-darmstadt.de/" target="_blank">Technische Universität Darmstadt</a>
                    </small>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 col-md-2 d-flex justify-content-center">
                <NavLink href="/Impressum">Impressum</NavLink>
            </div>
            <div class="col-4 col-md-2 d-flex justify-content-center">
                <NavLink href="/Datenschutz">Datenschutz</NavLink>
            </div>
        </div>
    </div>
</footer>
