name: MAUI Build

on:
  workflow_call:
    inputs:
      build-ref:
        required: true
        type: string
  workflow_dispatch:
  release:
    types: [published]

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false

jobs:
  build-windows:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
        lfs: true
    - uses: dotnet/nbgv@v0.4
      id: nbgv
    - name: Install MAUI Workload
      run: dotnet workload install maui-windows --ignore-failed-sources
    - run: dotnet restore src/BlazorFace.Maui/BlazorFace.Maui.csproj -p:PublishReadyToRun=true -p:EnableWindowsTargeting=true
    - run: dotnet publish src/BlazorFace.Maui/BlazorFace.Maui.csproj -c Release --no-restore -p:EnableWindowsTargeting=true
    - uses: actions/upload-artifact@v3
      with:
        name: blazorface-maui-windows
        path: bin/BlazorFace.Maui/
