@page "/DivideAndConquer"
<PageTitle>Divide and Conquer - Understanding Face Recognition</PageTitle>

<style>
    .restrict-child-img-size > img {
        max-height: min(max(40vh, 100px), 24rem);
    }
</style>

<div class="container col-xxl-6 col-xl-8">
    <h1 class="fs-3">Divide and Conquer</h1>
    <h2 class="fs-5">Do these two pictures show the same person?</h2>
    <div class="d-flex flex-row justify-content-center restrict-child-img-size mw-100">
        <img class="rounded m-2" src="media/portraits/Barack_Obama_01.jpg"
             title="Barack Obama, Public Domain" />
        <img class="rounded m-2" src="media/portraits/John_F_Kennedy_01.jpg"
             title="John F. Kennedy, Public Domain" />
    </div>
    <p class="mt-2">
        Obviously, they don't. That question is really easy to answer &ndash; at least for humans.
        If you're a programmer and someone asks you to write a program that is able to distinguish people, that
        is a much more difficult task than doing it yourself.
    </p>
    <p>
        As we often do in computer science, we start by breaking the large difficult problem into subproblems.
        How do we tell if two pictures show the same person? As humans, we focus on the face, because it is
        <em>the</em> feature to identify people. While other aspects of a portrait might allow to draw conclusions
        about the identity of the pictured person too, they are less universal and often less precise or more changeable.
        Thus, it seems reasonable to first look for the face(s) in a picture and process just them further on.
    </p>

    <h2 class="fs-4">Face Detection vs. Face Recognition</h2>
    <p>
        The first obvious decomposition into subproblems we can make is therefore to handle finding faces and identifying
        a person separately. Finding faces is typically called <em>Face Detection</em>, identifying the person
        <em>Face Recognition</em>. Identifying a person is however a much more general and abstract task than answering
        our opening question, <em>Are the two the same?</em> Rather, the goal is to gain an understanding of the
        similarity between images of faces. This also allows us to work on questions like &raquo;How many different
        people do these 14 photos of faces show?&laquo; or &raquo;Does this face belong to the same person as these
        eight faces that we already know about?&laquo; We could infer this to some extent if we could only decide
        yes or no for two faces. A true understanding of person resemblance however allows us to answer these
        questions more specifically and precisely.
    </p>
</div>

<div class="container mt-4 d-flex flex-column align-items-center">
    <a href="/FaceDetection" class="btn btn-primary">
        So, how do we tackle this?
    </a>
</div>
