@page "/FaceDetection"
<PageTitle>Face Detection - Understanding Face Recognition</PageTitle>

<div class="container col-xxl-6 col-xl-8">
    <h1 class="fs-3">Face Detection</h1>
    <p>
        In the beginning, there is an image that we get as input. We know about it only simple parameters like the dimensions. We first have to find out whether there is a face at all or perhaps even several. If we have found faces, we know where they are located in the image, so that we can create appropriate crops.
    </p>
    <div class="d-flex flex-row justify-content-center restrict-child-img-size mw-100">
        <img class="m-2" style="max-width: 90%" src="media/face-detection.opt.svg"
             title="Face Detection" />
    </div>

    <div class="card mt-4 mb-3">
        <div class="card-header text-center">
            Live Demo: Face Detection
        </div>
        <div class="card-body">
            <FaceDetectionDemo />
        </div>
    </div>

    <p>
        Now that we've cropped the faces out of our input image, we can move on to face recognition, right?
        While we could do that, and it would work to a certain extent, there's one more step in the middle
        that will greatly improve our recognition result: Aligning the face.
    </p>

    <div class="mt-4 d-flex flex-column align-items-center">
        <a href="/FaceAlignment" class="btn btn-primary">
            Move on
        </a>
    </div>

    <h2 class="fs-4 mt-4">Hands-on examples</h2>
    <p>
        Face recognition may be more impressive than just finding faces. Nevertheless, there are quite
        some useful practical applications that we can already implement at this point. To see what you
        can do with face detection only, check out some of our demos:
    </p>

    <ul>
        <li><a href="/Demos/BlurFaces">Blur all faces in an image</a></li>
        <li><a href="/Demos/ProfilePicture">Automatically crop a profile picture</a></li>
        <li><a href="/Demos/Count">Count faces or open eyes</a></li>
    </ul>

    <div class="mt-5 d-flex flex-row justify-content-evenly align-items-center">
        <a href="/DivideAndConquer" class="btn btn-secondary">
            Previous
        </a>
        <a href="/FaceAlignment" class="btn btn-primary">
            Move on
        </a>
    </div>
</div>

